    <aside>
        <ul>
            <li>About Mr Business</li>
            <li><a href="{{permalink}}/services.html">Services</a></li>
            <li>Solutions</li>
            <li><a href="{{permalink}}/contact.html">Contact</a></li>
        </ul>

        <div class="twitter-timeline" height="350" data-widget-id="520994597225242624"></div>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </aside>
